.primary, .neutral, .subtle {
    padding: var(--spacing-sm);
    border-radius: 8px;
    cursor: pointer;
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-neutral)
}
.neutral {
    background-color: var(--color-neutral);
    border: 1px solid var(--color-border-neutral-secondary)
}

.subtle {
    background-color: transparent;
    border: none;
}